{% extends 'base.html' %}

{% block head %}
<title>Advertisement Classifier</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Advertisement Classifier</h1>
    <div style="text-align: center">Hint: Input string and return the result (label & probability)</div>
    <div class="form" style="text-align: center">
        <form method="POST">
            <textarea name="content" style="width:600px;height:300px;" placeholder="Type here, change line (press ENTER) if you want to add new content..." required></textarea>
            <br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>
    </div>

    {% if results is string %}
    <b><div class="msg" style="text-align: center">{{ results }}</div></b>
    {% else %}
    <b><div class="msg" style="text-align: center">{{ number }}</div></b>
    <table>
        <tr>
            <th bgcolor="#c9c9c9">Id</th>
            <th bgcolor="#c9c9c9">Label</th>
            <th bgcolor="#c9c9c9">Probability</th>
        </tr>
        {% for item in results %}
            {% if "negative" in item.result.0 %}
            <tr>
                <td bgcolor="#ffe6e6"><span style="color:#E73017">{{ item.id }}</span></td>
                <td bgcolor="#ffe6e6"><span style="color:#E73017">{{ item.result.0 }}</span></td>
                <td bgcolor="#ffe6e6"><span style="color:#E73017">{{ item.result.1 }}</span></td>
            </tr>
            {% else %}
            <tr>
                <td bgcolor="#dff5df"><span style="color:#14B120">{{ item.id }}</span></td>
                <td bgcolor="#dff5df"><span style="color:#14B120">{{ item.result.0 }}</span></td>
                <td bgcolor="#dff5df"><span style="color:#14B120">{{ item.result.1 }}</span></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
